<!DOCTYPE HTML>
<html>
	<head>
		<title>Contact me | Aris Stampolidis Portfolio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Portfolio website</strong> <span>by Aris Stampolidis</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="projects.html">Projects</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Contact me</h1>
									</header>
									<p>I would be happy to receive a message from you! You can ask me anything.</p>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form action="submit_form" method="post">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="subject" id="subject" placeholder="Your name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="email" name="email" id="email" placeholder="Your Email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" class="form-control" rows="6" placeholder="Enter your message"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/mail.png"></span>
										<h3>Email</h3>
										<span>aris_soad2@yahoo.gr<br>arissoad16@gmail.com</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/phone.png"></span>
										<h3>Phone</h3>
										<span>+447511588600<br>07511588600</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/home.png"></span>
										<h3>Location</h3>
										<span>Scotland</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/aris.stabolidis"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/facebook.png" alt="Facebook"></a></li>
								<li><a href="https://twitter.com/ArisStampolidis"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/twitter.png" alt="Twitter"></a></li>
								<li><a href="https://www.instagram.com/aris_stab/"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/instagram.png" alt="Instagram"></a></li>
								<li><a href="https://github.com/ArisStampolidis"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/github.png" alt="Github"></a></li>
								<li><a href="https://www.linkedin.com/in/aris-stampolidis-1997b01a4/"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/linkedin.png" alt="LinkedIn"></a></li>
							</ul>
							<ul class="copyright">
								<li>| Website created by Aris Stampolidis |</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/jquery.min.js"></script>
			<script src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/jquery.scrolly.min.js"></script>
			<script src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/jquery.scrollex.min.js"></script>
			<script src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/browser.min.js"></script>
			<script src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/breakpoints.min.js"></script>
			<script src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/util.js"></script>
			<script src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/main.js"></script>

	</body>
</html>