<!DOCTYPE HTML>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	    <link href="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/static/assets/favicon.ico" rel="icon">
		<title>Aris Stampolidis Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link href="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/css/main.css" rel="stylesheet">
		<noscript><link href="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/css/noscript.css" rel="stylesheet"></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Portfolio website</strong> <span>by Aris Stampolidis</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="projects.html">Projects</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>

					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1>Hello there! My name is Aris</h1>
							</header>
							<div class="content">
								<p>I'm a Python and Web Developer, this is my website.<br> Take your time exploring it.</p>
								<ul class="actions">
									<li><a href="#one" class="button next scrolly">Get Started</a></li>
								</ul>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="projects.html" class="link">My Projects</a></h3>
										<p>Click here to see all of my projects so far</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="project01.html" class="link">Project 01 - Password Checker</a></h3>
										<p>With this app you can check how safe a password is</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="project02.html" class="link">Project 02 - TBA</a></h3>
										<p>TBA</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="project03.html" class="link">Project 03 - TBA</a></h3>
										<p>TBA</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/pic05.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="project04.html" class="link">Project 04 - TBA</a></h3>
										<p>TBA</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/pic06.jpg" alt="" />
									</span>
									<header class="major">
										<h3><a href="project05.html" class="link">Project 05 - TBA</a></h3>
										<p>TBA</p>
									</header>
								</article>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>My story</h2>
									</header>
									<p>I was born and raised in Greece. I moved to the UK early 2020. I started as a computer technician when I was 18, then studied sound engineering and music production. I followed many different job careers in the last 15 years until I became a Python Developer.</p>
									<ul class="actions">
										<li><a href="about.html" class="button next">Learn more about me</a></li>
									</ul>
									<ul class="actions">
										<li><a href="contact.html" class="button next">Contact me</a></li>
									</ul>
								</div>
							</section>

					</div>

<br>
				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/aris.stabolidis"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/facebook.png" alt="Facebook"></a></li>
								<li><a href="https://twitter.com/ArisStampolidis"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/twitter.png" alt="Twitter"></a></li>
								<li><a href="https://www.instagram.com/aris_stab/"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/instagram.png" alt="Instagram"></a></li>
								<li><a href="https://github.com/ArisStampolidis"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/github.png" alt="Github"></a></li>
								<li><a href="https://www.linkedin.com/in/aris-stampolidis-1997b01a4/"><img src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/images/icons/linkedin.png" alt="LinkedIn"></a></li>
							</ul>
							<ul class="copyright">
								<li>| Website created by Aris Stampolidis |</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script type="text/javascript" src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/jquery.min.js"> async</script>
			<script type="text/javascript" src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/jquery.scrolly.min.js"> async</script>
			<script type="text/javascript" src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/jquery.scrollex.min.js"> async</script>
			<script type="text/javascript" src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/browser.min.js"> async</script>
			<script type="text/javascript" src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/breakpoints.min.js"> async</script>
			<script type="text/javascript" src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/util.js"> async</script>
			<script type="text/javascript" src="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/templates/assets/js/main.js"> async</script>

	</body>
</html>