<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
	    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	    <link href="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/static/assets/favicon.ico" rel="icon">
		<title>Background Colour Generator | Aris Stampolidis Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link href="./static/assets/css/main.css" rel="stylesheet">
		<noscript><link href="./static/assets/css/noscript.css" rel="stylesheet"></noscript>
	</head>
	<body class="is-preload" id="gradient">


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Portfolio website</strong> <span>by Aris Stampolidis</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="projects.html">Projects</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1><font size="+3">Project 02</font><br><font size="+2">Background Colour Generator</font></h1>
									</header>
									<input class="color1" type="color" name="color1" value="#00ff00">
	                                <input class="color2" type="color" name="color2" value="#ff0000">
									<p><br><font size="+2">Choose 2 colours to generate and mix together in this window</font></p>
									<h3></h3>
									<br>
									<br>
									<br>
									<br>
									<br>
								</div>
							</section>

					</div>



				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/aris.stabolidis/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://twitter.com/ArisStampolidis" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.instagram.com/aris_stab/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/ArisStampolidis" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/aris-stampolidis-1997b01a4/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>| Website created by Aris Stampolidis |</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script type="text/javascript" src="./static/assets/js/jquery.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/jquery.scrolly.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/jquery.scrollex.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/browser.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/breakpoints.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/util.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/main.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/backgroundgenerator.js"> async</script>

	</body>
</html>
