<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
	    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	    <link href="https://www.pythonanywhere.com/user/ArisStampolidis/files/home/ArisStampolidis/portfolio01/static/assets/favicon.ico" rel="icon">
		<title>Project 03 | Aris Stampolidis Portfolio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<link href="./static/assets/css/main.css" rel="stylesheet">
		<link href="./static/assets/css/weather.css" rel="stylesheet">
		<noscript><link href="./static/assets/css/noscript.css" rel="stylesheet"></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Portfolio website</strong> <span>by Aris Stampolidis</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html">Home</a></li>
							<li><a href="projects.html">Projects</a></li>
							<li><a href="about.html">About</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>Project 03</h1>
									</header>		
									<div class="card">
    <div class="search">
      <input type="text" class="search-bar" placeholder="Search">
      <button><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em"
          width="1.5em" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">
          </path>
        </svg></button>
    </div>
    <div class="weather loading">
      <h2 class="city">Search for a city</h2>
      <h1 class="temp"></h1>
      <div class="flex">
        <img src="https://openweathermap.org/img/wn/04n.png" alt="" class="icon" />
        <div class="description">Cloudy</div>
      </div>
      <div class="humidity">Humidity: 60%</div>
      <div class="wind">Wind speed: 6.2 km/h</div>
    </div>
  </div>										
								</div>
								
							</section>

					</div>



				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.facebook.com/aris.stabolidis/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="https://twitter.com/ArisStampolidis" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://www.instagram.com/aris_stab/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://github.com/ArisStampolidis" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://www.linkedin.com/in/aris-stampolidis-1997b01a4/" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
							</ul>
							<ul class="copyright">
								<li>| Website created by Aris Stampolidis |</li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script type="text/javascript" src="./static/assets/js/jquery.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/jquery.scrolly.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/jquery.scrollex.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/browser.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/breakpoints.min.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/util.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/main.js"> async</script>
			<script type="text/javascript" src="./static/assets/js/weather.js"> async</script>

	</body>
</html>
